%p#notice= notice

%p
  %b Name:
  = @snippet.name
%p
  %b Category:
  = @snippet.category_id
%p
  %b Code:
  = @snippet.code

= link_to 'Edit', edit_snippet_path(@snippet)
\|
= link_to 'Back', snippets_path
